<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="busca/css/styles.css" rel="stylesheet">
	<script src="upload/js/jquery-2.2.0.min.js"></script>
	<!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->

	<link rel="stylesheet" href="busca/css/pure-min.css">
	<style>
			body{
				background-color:#4791D2;
			}
			.buttonRed{
				background-color:rgb(180,10,10);
			}
			.buttonYellow{
				background-color:rgb(220,220,20);
			}
			.buttonDefault{}
			td{
				padding:3px;
				padding-left:5px;
				padding-right:5px;
			}
			#mostra-prova{
				width:90%;
				height:90%;
				position:fixed;
				border-style:solid;
				border-width:1px;
				border-radius:30px;
				background-color:white;
				left:5%;
				top:5%;
				display:none;
			}
			#mostra-prova table{
				width:100%;
				height:100%;
			}
			
			#lightOut{
				background-color:black;
				opacity:0.7;
				width:100%;
				height:100%;
				left:0;
				right:0;
				position:fixed;
				display:none;
			}
			
			iframe{
				margin:30px;
				border-style:none;
				width:90%;
				height:90%;
			}
			#buttonLightOn{
				margin:20px;
				position:fixed;
				right:0;
				top:0;
				background-color:rgba(0,0,0,0);
				color:rgb(125,125,125);
				border-style:none;
				display:none;
			}
			#buttonLightOn:hover{
				outline-style:solid;
				outline-width:1px;
				background-color:rgba(183,46,64,1);
				
			}
			
			form fieldset {
				display: inline-block;
				border-style:solid;
				border-width:1px;
				border-color:rgba(0,0,0,0.3);
				border-radius:15px;
				background-color: rgb(192, 207, 241);
				width: 50%;
				text-align: center;
				padding: 5px;
			}
			
			#main-logo{
				height:70%;
				width:auto;
			}
			
			#header{
				display:inline-block;
				position:relative;
				margin:0.5%;
				background-color:#07273E;
				height:80%;
				width:99%;
				border-style:solid;
				border-width:1px;
				border-color:rgba(0,0,0,0.3);
				border-radius:15px;
				
			}
			
			#search_input{
				border-radius:15px;
				height:10%;
			}
			
			#filters{
				display:inline-block;
			}
			
			#content{
				margin-bottom: 5px;
			}
			
			#busca-link{
				display: flex;
				color:rgba(255,255,255,0.8);
				align-items: center;
				justify-content: center;
				position:absolute;
				width:50px;
				height:40px;
				right:3%;
				top:3%;
				border-radius:20px;
			}
			#busca-link:hover{
				background-color:rgba(183,46,64,1);
			}
		</style>
</head>
<body>

	<div id="header">
		<a href="busca" id="busca-link" style="right: 15%">BUSCA</a>
		<a href="logout" id="busca-link">LOGOUT</a>
		<img id="main-logo" src="busca/img/farol.png">

		<form id="data" class="pure-form-stacked dropzone dz-clickable dz-started" enctype="multipart/form-data">
			<fieldset>
				<center>
					<label for="disciplina">Disciplina:</label>
					<input id="disciplina" name="disciplina" type="text"/>
					<label for="professor">Professor:</label>
					<input id="professor" name="professor" type="text"/>
					<label for="ano">Ano e semestre(AAAA-S):</label>
					<input id="ano" name="ano" type="text" pattern="(?:19|20)[0-9]{2}-(?:1|2)" title="Formato inválido"/>
				
					<label for="tipo">Tipo:</label>
					<input type="radio" name="tipo" value="prova" checked> Prova
					<input type="radio" name="tipo" value="trabalho"> Trabalho

					<label for="numeroDoc">Índice do documento( 1,2,...,n / substitutiva(o) / final ): </label>
					<input type="text" id="numeroDoc" name="numeroDoc">

					<label for="labels">Labels:</label>
					%for i in labels:
						<input type="checkbox" name="labels" value="{{i}}">{{i}}<br>
					%end
					
					<!-- <button id="addFile">+</button>
					<button id="rmFile">-</button> -->
					<div id="inputFiles">
						<input id="documento0" type="file"/>
					</div>

					<!-- <div class="g-recaptcha" data-sitekey="6LfF_C4UAAAAAFcHCHuMUpnBOx0yYcZaCtRrrc2E"></div> -->

					<input value="Enviar" type="submit"/>
					<p id="avisoUpload"></p>
					<div class="progress">
				  		<div class="progress-bar" role="progressbar"></div>
					</div>

					<div id="status"></div>
				</center>
			</fieldset>
		</form>		
	</div>
	<script>
		function rmFile(j) {
			$("#documento"+j).remove();
			j++;
			if(k > 1) {
				for(var i=j;i<k;i++) {
					$("#documento"+i).attr('id','documento'+(i-1));
				}
				k--;
			}
			if( $('#documento'+(k-1))[0].files.length == 1 ) {
				$("#inputFiles").append('<input id="documento'+k+'" type="file"/>');
				k++;
			}
		}

		function addFile() {
			if(k < 5) {
				$("#inputFiles").append('<input id="documento'+k+'" type="file"/>');
				k++;
			}
		}


		var k = 1;

		$('#inputFiles').on('change','input[type="file"]', function() {
		    // do something after the div content has changed
		 	console.log(k);
		 	if( $('#documento'+(k-1))[0].files.length == 1 && k < 5 ) {
		 		console.log("addFile");
				addFile();
			} else { 
			 	for(var i=0;i<k;i++) {
				  	if($('#documento'+i)[0].files.length == 0) {
				  		console.log("rmFile");
				  		rmFile(i);
				  	}
				}
			}
		});

		$('#data').submit(function (e) {
			e.preventDefault();

			if( $('#disciplina').val() == '' ) {
				$("#avisoUpload").text("Campo de disciplina vazio.");
				return ;
			} else if( $('#professor').val() == '' ) {
				$("#avisoUpload").text("Campo de professor vazio.");
				return ;
			} else if( $('#ano').val() == '' ) {
				$("#avisoUpload").text("Campo de ano vazio.");
				return ;
			}

			if(k == 5 && $('#documento'+(k-1))[0].files.length == 1 )
				m = 0;
			else if(k == 1) {
				$("#avisoUpload").text("Nenhum arquivo selecionado.");
				return ;
			} else
				m = 1;

			var formData = new FormData();

			for(var i = 0; i < $('input[type="file"]').length - m;i++) {
				if( $('input[type="file"]')[i].files.length == 0 ) {
					$("#avisoUpload").text("Nenhum arquivo selecionado.");
					return ;
				} else if( $('input[type="file"]')[i].files[0].size/1024/1024 > 20 ) {
					// alert("Tamanho de arquivo excedido(limite de 20MB).");
					$("#avisoUpload").text("Tamanho de arquivo excedido(limite de 20MB).");
					return ;
				} else if( $('input[type="file"]')[i].files[0].name.split('.').slice(-1)[0] != 'png' &&
						   $('input[type="file"]')[i].files[0].name.split('.').slice(-1)[0] != 'jpg' &&
						   $('input[type="file"]')[i].files[0].name.split('.').slice(-1)[0] != 'pdf') {
					$("#avisoUpload").text("Formato de arquivo não suportado(somente aceitos pdf,png e jpg).");
					return ;
				}
				formData.append('documento_'+i, $('input[type="file"]')[i].files[0]);
			}

			var strLabels = "";
			$("input[name='labels']:checked").each( function () {
		       strLabels += $(this).val()+",";
		    });
		    strLabels = strLabels.substring(0, strLabels.length - 1);
		    console.log(strLabels);

			formData.append("disciplina", $('#disciplina').val());
			formData.append("professor", $('#professor').val());
			formData.append("ano", $('#ano').val());
			formData.append("tipo", $('input[name=tipo]:checked').val());
			formData.append("labels", strLabels);
			formData.append("numeroDoc",$('#numeroDoc').val() );
			
			var bar = $('.bar');
		    var percent = $('.percent');
		    var status = $('#status');

		    $("#avisoUpload").text("");
		    $('#numeroDoc').val("");
		    $('#disciplina').val("");
		    $('#professor').val("");
			$('#ano').val("");
			$("input[name='labels']:checked").each( function () {
		       $(this).prop('checked', false);
		    });
			$("input[name=tipo][value=prova]").prop('checked', true);
			$('#inputFiles').children().remove()
			$("#inputFiles").append('<input id="documento0" type="file"/>');
			k = 1;

			$.ajax({
		        url: '/upload',
		        type: 'POST',
		        data: formData,
		        async: true,
		        cache: false,
		        contentType: false,
		        processData: false,
		    //     success: function (result) {
		    //     	if(result == "env") {
		    //         	alert("Documento enviado.");
		    //     	} else if(result == "err_login") {
						// alert("Não logado.");
		    //     	} else if(result == "err_tamArq") {
		    //     		alert("Tamanho de arquivo excedido(limite de 20MB).");
		    //     	} else if(result == "err_format") {
		    //     		alert("Fromato de arquivo na suportado.");
		    //     	} else if(result == "err_maxArqs") {
		    //     		alert("Número de arquivos máximos excedido.");
		    //     	} else {
		    //     		alert("ERRO.");
		    //     	}
		    //     },
		        error: function (request, status, error) {
		        	alert(error);
		        },
		        xhr: function() {
		        	// create an XMLHttpRequest
		        	var xhr = new XMLHttpRequest();

		        	// listen to the 'progress' event
		        	xhr.upload.addEventListener('progress', function(evt) {

		         		if (evt.lengthComputable) {
		            		// calculate the percentage of upload completed
		            		var percentComplete = evt.loaded / evt.total;
		            		percentComplete = parseInt(percentComplete * 100);

		            		// update the Bootstrap progress bar with the new percentage
		            		$('.progress-bar').text(percentComplete + '%');
		            		$('.progress-bar').width(percentComplete + '%');

		            		// once the upload reaches 100%, set the progress bar text to done
		            		if (percentComplete === 100) {
		            			$('.progress-bar').html('Done');
		            		}
		          		}

		        	}, false);
		        	return xhr;
		    	}
		    });

		});
	</script>
</body>
</html>
