<!DOCTYPE html>
<html>
<head>
	<title>Upload</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="busca/css/styles.css" rel="stylesheet">
	<script src="upload/js/jquery-2.2.0.min.js"></script>
	

	<link rel="stylesheet" href="busca/css/pure-min.css">
	<link rel="stylesheet" href="moderacao/css/style.css">
	
</head>
<body>
	<div id="lightOut"></div>
	
	<div id="header">
		<a href="busca" id="busca-link" style="right: 15%">BUSCA</a>
		<a href="logout" id="busca-link">LOGOUT</a>
		<div id="helpers">
			<div id="helper_labels" class="helper">
				<table class="pure-table">
					<thead><tr onClick=abre_fecha("helper_labels_table")><td>Labels</td></tr></thead>
					<tbody id="helper_labels_table" style="display:none"></tbody>
				</table>
			</div>
			<div id="helper_labels" class="helper">
				<table class="pure-table">
					<thead><tr onClick=abre_fecha("helper_professores_table")><td>Professores</td></tr></thead>
					<tbody id="helper_professores_table" style="display:none"></tbody>
				</table>
			</div>
			<div id="helper_labels" class="helper">
				<table class="pure-table">
					<thead><tr onClick=abre_fecha("helper_disciplinas_table")><td>Disciplinas</td></tr></thead>
					<tbody id="helper_disciplinas_table" style="display:none"></tbody>
				</table>
			</div>
		</div>
		
		<img id="main-logo" src="busca/img/farol.png">
		<br><br>
		
		<center>
			
		<table id="provas_pendentes" class="pure-table">
			<thead>
				<tr><td>Usuário</td><td>Tipo</td><td>Número documento</td><td>Disciplina</td><td>Ano</td><td>Professor</td><td class="actions_prova"></td> <td class="actions_prova"></td> <td class="actions_prova"></td>	</tr>
			</thead>
			
			<tbody>
				%for p in provas:
					<tr id="prova_line_tr_{{p['id_documento']}}" value={{p['id_documento']}} class="prova_line_tr" onClick="selectProva(this,{{p['id_documento']}});">
					<td>{{p['usuario']}}</td>
					<td>{{p['tipo']}}</td>
					<td>{{p['numeroDoc']}}</td>
					<td>{{p['disciplina']}}</td>
					<td>{{p['ano']}}</td>
					<td>{{p['professor']}}</td>
					<td id="provas_pendentes_v_{{p['id_documento']}}" class="left_actions_prova"></td>
					<td id="provas_pendentes_a_{{p['id_documento']}}" class="actions_prova"></td>
					<td id="provas_pendentes_r_{{p['id_documento']}}" class="actions_prova"></td>
					</tr>
				%end
			</tbody>
		</table>
		
		
		
		
		
		
		<table id="view_prova" class="pure-table">
			<thead>
				<tr><td>Disciplina</td><td>Tipo</td><td>Ano-Semestre</td><td>Professor</td><td>Número documento</td></tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" id="view_prova_disciplina"></td>
					<td><input type="text" id="view_prova_tipo"></td>
					<td><input type="text" id="view_prova_ano"></td>
					<td><input type="text" id="view_prova_professor"></td>
					<td><input type="text" id="view_prova_numeroDoc"></td>
				</tr>
			</tbody>
		</table>
		
		<br>
		
		<table id="insert_label" class="pure-table">
			<thead><tr> <td>Inserir nova label</td> </tr></thead>
			<tbody><tr> <td><input type="text" id="view_prova_novasLabels"></td> </tr></tbody>
		</table>
		
		<br>
		
		<table id="view_labels" class="pure-table">
			<thead>
				<tr><td>Labels</td></tr>
			</thead>
			<tbody>
				<tr id="view_labels_tr">
					
				</tr>
			</tbody>
		</table>
		</center>
	</div>
	
	<button id="buttonLightOn" onClick=switchLight();>X</button>
	<div id="mostra-prova">
		<iframe id="iframe" src=""></iframe>
	</div>
</body>


<link rel="stylesheet" href="busca/css/awesomplete.css" /> <script src="busca/js/awesomplete.js"></script>

<script>
	var provasContent = {
	%for p in provas:
		{{p['id_documento']}}:{
			usuario:'{{p['usuario']}}',
			disciplina:'{{p['disciplina']}}',
			ano:'{{p['ano']}}',
			tipo:'{{p['tipo']}}',
			professor:'{{p['professor']}}',
			url:'{{p['url']}}',
			labels:{{p['labels']}},
			numeroDoc: '{{p['numeroDoc']}}'
		},
	%end
	};
	
	var all_labels_hash = {{!all_labels}};
	var all_professores_hash = {{!all_professores}};
	var all_disciplinas_hash = {{!all_disciplinas}};
</script>

<script src="moderacao/js/main.js"></script>

</html>
