@media screen and (max-width: 900px) {
	#view_prova thead {
	    float: left;
	}
	#view_prova thead td {
		border-bottom-width:1px;
		border-bottom-style: solid;
		border-bottom-color: #cbcbcb;
	}
	#view_prova tbody {
	    float: right;
	}
	#view_prova td {
	    display: block;
	    border-left-width: 0;
	    height: 40px
	}
}

body{
	background-color:#4791D2;
}
.buttonRed{
	background-color:rgb(180,10,10);
}
.buttonYellow{
	background-color:rgb(220,220,20);
}
.buttonDefault{}
td{
	padding:3px;
	padding-left:5px;
	padding-right:5px;
}
#mostra-prova{
	width:90%;
	height:90%;
	position:fixed;
	border-style:solid;
	border-width:1px;
	border-radius:30px;
	background-color:white;
	left:5%;
	top:5%;
	display:none;
}
#mostra-prova table{
	width:100%;
	height:100%;
}

#lightOut{
	background-color:black;
	opacity:0.7;
	width:100%;
	height:100%;
	left:0;
	right:0;
	position:fixed;
	display:none;
}

iframe{
	margin:30px;
	border-style:none;
	width:90%;
	height:90%;
}
#buttonLightOn{
	margin:20px;
	position:fixed;
	right:0;
	top:0;
	background-color:rgba(0,0,0,0);
	color:rgb(125,125,125);
	border-style:none;
	display:none;
}
#buttonLightOn:hover{
	outline-style:solid;
	outline-width:1px;
	background-color:rgb(255,255,255,255);
	
}



#main-logo{
	height:70%;
	max-height:250px;
	width:auto;
}

#header{
	display:inline-block;
	position:relative;
	margin:0.5%;
	background-color:#07273E;
	min-height:80%;
	min-width:99%;
	min:auto;
	border-style:solid;
	border-width:1px;
	border-color:rgba(0,0,0,0.3);
	border-radius:15px;
	
}



#content{
	margin-bottom: 5px;
}

#upload-link{
	display: flex;
	color:rgba(255,255,255,0.8);
	align-items: center;
	justify-content: center;
	position:absolute;
	width:50px;
	height:40px;
	right:3%;
	top:3%;
	border-radius:20px;
}
#upload-link:hover{
	background-color:rgba(183,46,64,1);
}

table{
	color:white;
	margin:5px;
}
#provas_pendentes{
	display:inline-block;
}
#provas_pendentes_actions{
	display:inline-block;
}
#provas_pendentes tr:hover, #provas_pendentes_actions td:hover{
	outline-color:rgba(255,0,0,0.5);
	outline-style:solid;
	outline-width:1px;
	cursor:pointer;
}
#view_prova{
	
}

#view_labels{
	
}


input{
	/*
	background-color:red;
	color:rgb(0,255,0);
	*/
	color:black;
}
#helpers{
	z-index:0;
	position:fixed;
	left:0%;
	color:white;
	width:30%;
	height:30%;
}
#helper_labels{
	background-color:rgba(0,0,0,0.3);
	overflow-y:auto !important;
	overflow-x:hidden !important;
	max-height:100%;
	max-width:33%;
}

.helper{
	cursor:pointer;
	top:0;
	display:inline-block;
	vertical-align:top;
	position:relative;
	overflow-y:auto !important;
	overflow-x:hidden !important;
}

.verProva{
	cursor:pointer;
}

.actions_prova{
	border-left-style:none !important;
	border-top-style:none !important;
	border-right-style:none !important;
	border-bottom-style:none !important;
	background-color:transparent !important;
	
}

.actions_prova:hover, .left_actions_prova:hover{
	cursor:auto;
}

.selected:hover, .left_selected:hover{
	z-index:5;
	outline-style:solid;
	outline-width:1px;
	outline-color:rgba(255,0,0,0.5);
}

#busca-link{
	display: flex;
	color:rgba(255,255,255,0.8);
	align-items: center;
	justify-content: center;
	position:absolute;
	width:50px;
	height:40px;
	right:3%;
	top:3%;
	border-radius:20px;
}
#busca-link:hover{
	background-color:rgba(183,46,64,1);
}

ul {
	color:black ;
}
