  <form action="/admin" method="post">
  Nome: <input name="nome" type="text" /><br>
  E-mail: <input name="email" type="email" /><br>
  Login: <input name="login" type="text" /><br>
  Senha: <input name="senha" type="password" /><br>
  Administrador: <input name="administrador" type="radio" /><br>
  Moderador: <input name="moderador" type="radio" /><br>
  Curso: <input name="curso" type="text" /><br>
  <input value="Create" type="submit" />
  </form>
