<html>
	<head>
		<meta charset="utf-8">
		<title> farol </title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link href="busca/css/styles.css" rel="stylesheet">

		<link rel="stylesheet" href="busca/css/pure-min.css">
		<script src="busca/js/md5.js"></script>

		<style>
			body{
				background-color:#4791D2;
			}
			#login_input {
				border-radius:15px;
			}
			#header{
				display:inline-block;
				position:relative;
				margin:0.5%;
				background-color:#07273E;
				height:70%;
				width:99%;
				border-style:solid;
				border-width:1px;
				border-color:rgba(0,0,0,0.3);
				border-radius:15px;
			}
			#main-logo{
				height:70%;
				width:auto;
			}
			form fieldset {
				display: inline-block;
				border-style:solid;
				border-width:1px;
				border-color:rgba(0,0,0,0.3);
				border-radius:15px;
				background-color: rgb(192, 207, 241);
				width: 50%;
			}
			#busca-link{
				display: flex;
				color:rgba(255,255,255,0.8);
				align-items: center;
				justify-content: center;
				position:absolute;
				width:50px;
                height:40px;
				right:3%;
				top:3%;
				border-radius:20px;
			}
			#busca-link:hover{
				background-color:rgba(183,46,64,1);
			}
		</style>
	</head>

	<body id="body">
		<div id="header">
			<a href="busca" id="busca-link">BUSCA</a>
			<img id="main-logo" src="busca/img/farol.png"><br><br>
			<!-- <form class="pure-form">
				<input type="text" name="user" id="login_input"><br>
				<spam style="color:#4791D2;">Senha: </spam><input type="password" name="passwd" id="login_input">
			</form> -->
			
			%if not logado :
			<form class="pure-form pure-form-aligned", method="post" action="login">
			    <fieldset>
			        <div class="pure-control-group">
			            <label for="usuario">Usuário</label>
			            <input name="username" id="usuario" type="text" placeholder="Usuário">
			        </div>
			        <div class="pure-control-group">
			            <label for="senha">Senha</label>
			            <input name="password" id="senha" type="password" placeholder="Senha">
			        </div>
							<div>
								<input value="Entrar" type="submit" />
							</div>
			    </fieldset>
			</form>
			
			%else :
				<form class="pure-form pure-form-aligned", method="post" action="login">
					<fieldset>
						<p>Olá {{login}}!</p>
						<input type="hidden" name="logout" value=1>
						<input type="submit" value="Deslogar">
					</fieldset>
				</form>
			%end

		</div>
	</body>




	<script>

	</script>



</html>
